html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}
.Loading{display: none;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block
}

summary {
	display: list-item
}

audio,
canvas,
progress,
video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

figure {
	margin: 1em 40px
}

img {
	border-style: none
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

button,
input,
select,
textarea,
optgroup {
	font: inherit;
	margin: 0
}

optgroup {
	font-weight: bold
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

/* button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
} */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

/* [type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
} */

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

/* End extract */
html,
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

html {
	overflow-x: hidden
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

.Cakare-serif {
	font-family: serif
}

.Cakare-sans-serif {
	font-family: sans-serif
}

.Cakare-cursive {
	font-family: cursive
}

.Cakare-monospace {
	font-family: monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

.Cakare-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.Cakare-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

a {
	color: inherit
}

.Cakare-table,
.Cakare-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.Cakare-table-all {
	border: 1px solid #ccc
}

.Cakare-bordered tr,
.Cakare-table-all tr {
	border-bottom: 1px solid #ddd
}

.Cakare-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1
}

.Cakare-table-all tr:nth-child(odd) {
	background-color: #fff
}

.Cakare-table-all tr:nth-child(even) {
	background-color: #f1f1f1
}

.Cakare-hoverable tbody tr:hover,
.Cakare-ul.Cakare-hoverable li:hover {
	background-color: #ccc
}

.Cakare-centered tr th,
.Cakare-centered tr td {
	text-align: center
}

.Cakare-table td,
.Cakare-table th,
.Cakare-table-all td,
.Cakare-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top
}

.Cakare-table th:first-child,
.Cakare-table td:first-child,
.Cakare-table-all th:first-child,
.Cakare-table-all td:first-child {
	padding-left: 16px
}

.Cakare-btn,
.Cakare-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.Cakare-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.Cakare-btn,
.Cakare-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.Cakare-disabled,
.Cakare-btn:disabled,
.Cakare-button:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.Cakare-disabled *,
:disabled * {
	pointer-events: none
}

.Cakare-btn.Cakare-disabled:hover,
.Cakare-btn:disabled:hover {
	box-shadow: none
}

.Cakare-badge,
.Cakare-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.Cakare-badge {
	border-radius: 50%
}

.Cakare-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.Cakare-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.Cakare-ul li:last-child {
	border-bottom: none
}

.Cakare-tooltip,
.Cakare-display-container {
	position: relative
}

.Cakare-tooltip .Cakare-text {
	display: none
}

.Cakare-tooltip:hover .Cakare-text {
	display: inline-block
}

.Cakare-ripple:active {
	opacity: 0.5
}

.Cakare-ripple {
	transition: opacity 0s
}

.Cakare-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.Cakare-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc
}

.Cakare-dropdown-click,
.Cakare-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.Cakare-dropdown-hover:hover .Cakare-dropdown-content {
	display: block
}

.Cakare-dropdown-hover:first-child,
.Cakare-dropdown-click:hover {
	background-color: #ccc;
	color: #000
}

.Cakare-dropdown-hover:hover>.Cakare-button:first-child,
.Cakare-dropdown-click:hover>.Cakare-button:first-child {
	background-color: #ccc;
	color: #000
}

.Cakare-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.Cakare-check,
.Cakare-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

.Cakare-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto
}

.Cakare-bar-block .Cakare-dropdown-hover,
.Cakare-bar-block .Cakare-dropdown-click {
	width: 100%
}

.Cakare-bar-block .Cakare-dropdown-hover .Cakare-dropdown-content,
.Cakare-bar-block .Cakare-dropdown-click .Cakare-dropdown-content {
	min-width: 100%
}

.Cakare-bar-block .Cakare-dropdown-hover .Cakare-button,
.Cakare-bar-block .Cakare-dropdown-click .Cakare-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

.Cakare-main,
#main {
	transition: margin-left .4s
}

.Cakare-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.Cakare-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

.Cakare-bar {
	width: 100%;
	overflow: hidden
}

.Cakare-center .Cakare-bar {
	display: inline-block;
	width: auto
}

.Cakare-bar .Cakare-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.Cakare-bar .Cakare-dropdown-hover,
.Cakare-bar .Cakare-dropdown-click {
	position: static;
	float: left
}

.Cakare-bar .Cakare-button {
	white-space: normal
}

.Cakare-bar-block .Cakare-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.Cakare-bar-block.Cakare-center .Cakare-bar-item {
	text-align: center
}

.Cakare-block {
	display: block;
	width: 100%
}

.Cakare-responsive {
	display: block;
	overflow-x: auto
}

.Cakare-container:after,
.Cakare-container:before,
.Cakare-panel:after,
.Cakare-panel:before,
.Cakare-row:after,
.Cakare-row:before,
.Cakare-row-padding:after,
.Cakare-row-padding:before,
.Cakare-cell-row:before,
.Cakare-cell-row:after,
.Cakare-clear:after,
.Cakare-clear:before,
.Cakare-bar:before,
.Cakare-bar:after {
	content: "";
	display: table;
	clear: both
}

.Cakare-col,
.Cakare-half,
.Cakare-third,
.Cakare-twothird,
.Cakare-threequarter,
.Cakare-quarter {
	float: left;
	width: 100%
}

.Cakare-col.s1 {
	width: 8.33333%
}

.Cakare-col.s2 {
	width: 16.66666%
}

.Cakare-col.s3 {
	width: 23.99999%
}

.Cakare-col.s4 {
	width: 33.33333%
}

.Cakare-col.s5 {
	width: 41.66666%
}

.Cakare-col.s6 {
	width: 49.99999%
}

.Cakare-col.s7 {
	width: 58.33333%
}

.Cakare-col.s8 {
	width: 66.66666%
}

.Cakare-col.s9 {
	width: 74.99999%
}

.Cakare-col.s10 {
	width: 83.33333%
}

.Cakare-col.s11 {
	width: 91.66666%
}

.Cakare-col.s12 {
	width: 99.99999%
}

@media (min-width:601px) {
	.Cakare-col.m1 {
		width: 8.33333%
	}

	.Cakare-col.m2 {
		width: 16.66666%
	}

	.Cakare-col.m3,
	.Cakare-quarter {
		width: 23.99999% !important;
	}

	.Cakare-col.m4,
	.Cakare-third {
		width: 33.33333%
	}

	.Cakare-col.m5 {
		width: 41.66666%
	}

	.Cakare-col.m6,
	.Cakare-half {
		width: 49.99999%
	}

	.Cakare-col.m7 {
		width: 58.33333%
	}

	.Cakare-col.m8,
	.Cakare-twothird {
		width: 66.66666%
	}

	.Cakare-col.m9,
	.Cakare-threequarter {
		width: 74.99999%
	}

	.Cakare-col.m10 {
		width: 83.33333%
	}

	.Cakare-col.m11 {
		width: 91.66666%
	}

	.Cakare-col.m12 {
		width: 99.99999%
	}
}

@media (min-width:993px) {
	.Cakare-col.l1 {
		width: 8.33333%
	}

	.Cakare-col.l2 {
		width: 16.66666%
	}

	.Cakare-col.l3 {
		width: 23.99999%
	}

	.Cakare-col.l4 {
		width: 33.33333%
	}

	.Cakare-col.l5 {
		width: 41.66666%
	}

	.Cakare-col.l6 {
		width: 49.99999%
	}

	.Cakare-col.l7 {
		width: 58.33333%
	}

	.Cakare-col.l8 {
		width: 66.66666%
	}

	.Cakare-col.l9 {
		width: 74.99999%
	}

	.Cakare-col.l10 {
		width: 83.33333%
	}

	.Cakare-col.l11 {
		width: 91.66666%
	}

	.Cakare-col.l12 {
		width: 99.99999%
	}
}

.Cakare-rest {
	overflow: hidden
}

.Cakare-stretch {
	margin-left: -16px;
	margin-right: -16px
}

.Cakare-content,
.Cakare-auto {
	margin-left: auto;
	margin-right: auto
}

.Cakare-content {
	max-width: 980px
}

.Cakare-auto {
	max-width: 1140px
}

.Cakare-cell-row {
	display: table;
	width: 100%
}

.Cakare-cell {
	display: table-cell
}

.Cakare-cell-top {
	vertical-align: top
}

.Cakare-cell-middle {
	vertical-align: middle
}

.Cakare-cell-bottom {
	vertical-align: bottom
}

.Cakare-hide {
	display: none !important
}

.Cakare-show-block,
.Cakare-show {
	display: block !important
}

.Cakare-show-inline-block {
	display: inline-block !important
}

@media (max-width:1205px) {
	.Cakare-auto {
		max-width: 95%
	}
}

@media (max-width:600px) {
	.Cakare-modal-content {
		margin: 0 10px;
		width: auto !important
	}

	.Cakare-modal {
		padding-top: 30px
	}

	.Cakare-dropdown-hover.Cakare-mobile .Cakare-dropdown-content,
	.Cakare-dropdown-click.Cakare-mobile .Cakare-dropdown-content {
		position: relative
	}

	.Cakare-hide-small {
		display: none !important
	}

	.Cakare-mobile {
		display: block;
		width: 100% !important
	}

	.Cakare-bar-item.Cakare-mobile,
	.Cakare-dropdown-hover.Cakare-mobile,
	.Cakare-dropdown-click.Cakare-mobile {
		text-align: center
	}

	.Cakare-dropdown-hover.Cakare-mobile,
	.Cakare-dropdown-hover.Cakare-mobile .Cakare-btn,
	.Cakare-dropdown-hover.Cakare-mobile .Cakare-button,
	.Cakare-dropdown-click.Cakare-mobile,
	.Cakare-dropdown-click.Cakare-mobile .Cakare-btn,
	.Cakare-dropdown-click.Cakare-mobile .Cakare-button {
		width: 100%
	}
}

@media (max-width:768px) {
	.Cakare-modal-content {
		width: 500px
	}

	.Cakare-modal {
		padding-top: 50px
	}
}

@media (min-width:993px) {
	.Cakare-modal-content {
		width: 900px
	}

	.Cakare-hide-large {
		display: none !important
	}

	.Cakare-sidebar.Cakare-collapse {
		display: block !important
	}
}

@media (max-width:992px) and (min-width:601px) {
	.Cakare-hide-medium {
		display: none !important
	}
}

@media (max-width:992px) {
	.Cakare-sidebar.Cakare-collapse {
		display: none
	}

	.Cakare-main {
		margin-left: 0 !important;
		margin-right: 0 !important
	}

	.Cakare-auto {
		max-width: 100%
	}
}

.Cakare-top,
.Cakare-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.Cakare-top {
	top: 0
}

.Cakare-bottom {
	bottom: 0
}

.Cakare-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.Cakare-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.Cakare-display-topright {
	position: absolute;
	right: 0;
	top: 0
}

.Cakare-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

.Cakare-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0
}

.Cakare-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.Cakare-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%)
}

.Cakare-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%)
}

.Cakare-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.Cakare-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.Cakare-display-container:hover .Cakare-display-hover {
	display: block
}

.Cakare-display-container:hover span.Cakare-display-hover {
	display: inline-block
}

.Cakare-display-hover {
	display: none
}

.Cakare-display-position {
	position: absolute
}

.Cakare-circle {
	border-radius: 50%
}

.Cakare-round-small {
	border-radius: 2px
}

.Cakare-round,
.Cakare-round-medium {
	border-radius: 4px
}

.Cakare-round-large {
	border-radius: 8px
}

.Cakare-round-xlarge {
	border-radius: 16px
}

.Cakare-round-xxlarge {
	border-radius: 32px
}

.Cakare-row-padding,
.Cakare-row-padding>.Cakare-half,
.Cakare-row-padding>.Cakare-third,
.Cakare-row-padding>.Cakare-twothird,
.Cakare-row-padding>.Cakare-threequarter,
.Cakare-row-padding>.Cakare-quarter,
.Cakare-row-padding>.Cakare-col {
	padding: 0 8px
}

.Cakare-container,
.Cakare-panel {
	padding: 0.01em 16px
}

.Cakare-panel {
	margin-top: 16px;
	margin-bottom: 16px
}

.Cakare-code,
.Cakare-codespan {
	font-family: Consolas, "courier new";
	font-size: 16px
}

.Cakare-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word
}

.Cakare-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%
}

.Cakare-card,
.Cakare-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.Cakare-card-4,
.Cakare-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.Cakare-spin {
	animation: Cakare-spin 2s infinite linear
}

@keyframes Cakare-spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(359deg)
	}
}

.Cakare-animate-fading {
	animation: fading 10s infinite
}

@keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.Cakare-animate-opacity {
	animation: opac 0.8s
}

@keyframes opac {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.Cakare-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.Cakare-animate-left {
	position: relative;
	animation: animateleft 0.4s
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}

	to {
		left: 0;
		opacity: 1
	}
}

.Cakare-animate-right {
	position: relative;
	animation: animateright 0.4s
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}

	to {
		right: 0;
		opacity: 1
	}
}

.Cakare-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s
}

@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

.Cakare-animate-zoom {
	animation: animatezoom 0.6s
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

.Cakare-animate-input {
	transition: width 0.4s ease-in-out
}

.Cakare-animate-input:focus {
	width: 100% !important
}

.Cakare-opacity,
.Cakare-hover-opacity:hover {
	opacity: 0.60
}

.Cakare-opacity-off,
.Cakare-hover-opacity-off:hover {
	opacity: 1
}

.Cakare-opacity-max {
	opacity: 0.25
}

.Cakare-opacity-min {
	opacity: 0.75
}

.Cakare-greyscale-max,
.Cakare-grayscale-max,
.Cakare-hover-greyscale:hover,
.Cakare-hover-grayscale:hover {
	filter: grayscale(100%)
}

.Cakare-greyscale,
.Cakare-grayscale {
	filter: grayscale(75%)
}

.Cakare-greyscale-min,
.Cakare-grayscale-min {
	filter: grayscale(50%)
}

.Cakare-sepia {
	filter: sepia(75%)
}

.Cakare-sepia-max,
.Cakare-hover-sepia:hover {
	filter: sepia(100%)
}

.Cakare-sepia-min {
	filter: sepia(50%)
}

.Cakare-tiny {
	font-size: 10px !important
}

.Cakare-small {
	font-size: 12px !important
}

.Cakare-medium {
	font-size: 15px !important
}

.Cakare-large {
	font-size: 18px !important
}

.Cakare-xlarge {
	font-size: 24px !important
}

.Cakare-xxlarge {
	font-size: 36px !important
}

.Cakare-xxxlarge {
	font-size: 48px !important
}

.Cakare-jumbo {
	font-size: 64px !important
}

.Cakare-left-align {
	text-align: left !important
}

.Cakare-right-align {
	text-align: right !important
}

.Cakare-justify {
	text-align: justify !important
}

.Cakare-center {
	text-align: center !important
}

.Cakare-border-0 {
	border: 0 !important
}

.Cakare-border {
	border: 1px solid #ccc !important
}

.Cakare-border-top {
	border-top: 1px solid #ccc !important
}

.Cakare-border-bottom {
	border-bottom: 1px solid #ccc !important
}

.Cakare-border-left {
	border-left: 1px solid #ccc !important
}

.Cakare-border-right {
	border-right: 1px solid #ccc !important
}

.Cakare-topbar {
	border-top: 6px solid #ccc !important
}

.Cakare-bottombar {
	border-bottom: 6px solid #ccc !important
}

.Cakare-leftbar {
	border-left: 6px solid #ccc !important
}

.Cakare-rightbar {
	border-right: 6px solid #ccc !important
}

.Cakare-section,
.Cakare-code {
	margin-top: 16px !important;
	margin-bottom: 16px !important
}

.Cakare-margin {
	margin: 16px !important
}

.Cakare-margin-top {
	margin-top: 16px !important
}

.Cakare-margin-bottom {
	margin-bottom: 16px !important
}

.Cakare-margin-left {
	margin-left: 16px !important
}

.Cakare-margin-right {
	margin-right: 16px !important
}

.Cakare-padding-small {
	padding: 4px 8px !important
}

.Cakare-padding {
	padding: 8px 16px !important
}

.Cakare-padding-large {
	padding: 12px 24px !important
}

.Cakare-padding-14 {
	padding-top: 12px !important;
	padding-bottom: 12px !important
}
.Cakare-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important
}

.Cakare-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important
}

.Cakare-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important
}

.Cakare-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important
}

.Cakare-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important
}

.Cakare-padding-top-64 {
	padding-top: 64px !important
}

.Cakare-padding-top-48 {
	padding-top: 48px !important
}

.Cakare-padding-top-32 {
	padding-top: 32px !important
}

.Cakare-padding-top-24 {
	padding-top: 24px !important
}

.Cakare-left {
	float: left !important
}

.Cakare-right {
	float: right !important
}

.Cakare-button:hover {
	color: #000 !important;
	background-color: #ccc !important
}

.Cakare-transparent,
.Cakare-hover-none:hover {
	background-color: transparent !important
}

.Cakare-hover-none:hover {
	box-shadow: none !important
}

/* Colors */
.Cakare-amber,
.Cakare-hover-amber:hover {
	color: #000 !important;
	background-color: #ffc107 !important
}

.Cakare-aqua,
.Cakare-hover-aqua:hover {
	color: #000 !important;
	background-color: #00ffff !important
}

.Cakare-blue,
.Cakare-hover-blue:hover {
	color: #fff !important;
	background-color: #2196F3 !important
}

.Cakare-light-blue,
.Cakare-hover-light-blue:hover {
	color: #000 !important;
	background-color: #87CEEB !important
}

.Cakare-brown,
.Cakare-hover-brown:hover {
	color: #fff !important;
	background-color: #795548 !important
}

.Cakare-cyan,
.Cakare-hover-cyan:hover {
	color: #000 !important;
	background-color: #00bcd4 !important
}

.Cakare-blue-grey,
.Cakare-hover-blue-grey:hover,
.Cakare-blue-gray,
.Cakare-hover-blue-gray:hover {
	color: #fff !important;
	background-color: #607d8b !important
}

.Cakare-green,
.Cakare-hover-green:hover {
	color: #fff !important;
	background-color: #4CAF50 !important
}

.Cakare-light-green,
.Cakare-hover-light-green:hover {
	color: #000 !important;
	background-color: #8bc34a !important
}

.Cakare-indigo,
.Cakare-hover-indigo:hover {
	color: #fff !important;
	background-color: #3f51b5 !important
}

.Cakare-khaki,
.Cakare-hover-khaki:hover {
	color: #000 !important;
	background-color: #f0e68c !important
}

.Cakare-lime,
.Cakare-hover-lime:hover {
	color: #000 !important;
	background-color: #cddc39 !important
}

.Cakare-orange,
.Cakare-hover-orange:hover {
	color: #000 !important;
	background-color: #ff9800 !important
}

.Cakare-deep-orange,
.Cakare-hover-deep-orange:hover {
	color: #fff !important;
	background-color: #ff5722 !important
}

.Cakare-pink,
.Cakare-hover-pink:hover {
	color: #fff !important;
	background-color: #e91e63 !important
}

.Cakare-purple,
.Cakare-hover-purple:hover {
	color: #fff !important;
	background-color: #9c27b0 !important
}

.Cakare-deep-purple,
.Cakare-hover-deep-purple:hover {
	color: #fff !important;
	background-color: #673ab7 !important
}

.Cakare-red,
.Cakare-hover-red:hover {
	color: #fff !important;
	background-color: #f44336 !important
}

.Cakare-sand,
.Cakare-hover-sand:hover {
	color: #000 !important;
	background-color: #fdf5e6 !important
}

.Cakare-teal,
.Cakare-hover-teal:hover {
	color: #fff !important;
	background-color: #009688 !important
}

.Cakare-yellow,
.Cakare-hover-yellow:hover {
	color: #000 !important;
	background-color: #ffeb3b !important
}

.Cakare-white,
.Cakare-hover-white:hover {
	color: #000 !important;
	background-color: #fff !important
}

.Cakare-black,
.Cakare-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important
}

.Cakare-grey,
.Cakare-hover-grey:hover,
.Cakare-gray,
.Cakare-hover-gray:hover {
	color: #000 !important;
	background-color: #9e9e9e !important
}

.Cakare-light-grey,
.Cakare-hover-light-grey:hover,
.Cakare-light-gray,
.Cakare-hover-light-gray:hover {
	color: #000 !important;
	background-color: #f1f1f1 !important
}

.Cakare-dark-grey,
.Cakare-hover-dark-grey:hover,
.Cakare-dark-gray,
.Cakare-hover-dark-gray:hover {
	color: #fff !important;
	background-color: #616161 !important
}

.Cakare-pale-red,
.Cakare-hover-pale-red:hover {
	color: #000 !important;
	background-color: #ffdddd !important
}

.Cakare-pale-green,
.Cakare-hover-pale-green:hover {
	color: #000 !important;
	background-color: #ddffdd !important
}

.Cakare-pale-yellow,
.Cakare-hover-pale-yellow:hover {
	color: #000 !important;
	background-color: #ffffcc !important
}

.Cakare-pale-blue,
.Cakare-hover-pale-blue:hover {
	color: #000 !important;
	background-color: #ddffff !important
}

.Cakare-text-amber,
.Cakare-hover-text-amber:hover {
	color: #ffc107 !important
}

.Cakare-text-aqua,
.Cakare-hover-text-aqua:hover {
	color: #00ffff !important
}

.Cakare-text-blue,
.Cakare-hover-text-blue:hover {
	color: #2196F3 !important
}

.Cakare-text-light-blue,
.Cakare-hover-text-light-blue:hover {
	color: #87CEEB !important
}

.Cakare-text-brown,
.Cakare-hover-text-brown:hover {
	color: #795548 !important
}

.Cakare-text-cyan,
.Cakare-hover-text-cyan:hover {
	color: #00bcd4 !important
}

.Cakare-text-blue-grey,
.Cakare-hover-text-blue-grey:hover,
.Cakare-text-blue-gray,
.Cakare-hover-text-blue-gray:hover {
	color: #607d8b !important
}

.Cakare-text-green,
.Cakare-hover-text-green:hover {
	color: #4CAF50 !important
}

.Cakare-text-light-green,
.Cakare-hover-text-light-green:hover {
	color: #8bc34a !important
}

.Cakare-text-indigo,
.Cakare-hover-text-indigo:hover {
	color: #3f51b5 !important
}

.Cakare-text-khaki,
.Cakare-hover-text-khaki:hover {
	color: #b4aa50 !important
}

.Cakare-text-lime,
.Cakare-hover-text-lime:hover {
	color: #cddc39 !important
}

.Cakare-text-orange,
.Cakare-hover-text-orange:hover {
	color: #ff9800 !important
}

.Cakare-text-deep-orange,
.Cakare-hover-text-deep-orange:hover {
	color: #ff5722 !important
}

.Cakare-text-pink,
.Cakare-hover-text-pink:hover {
	color: #e91e63 !important
}

.Cakare-text-purple,
.Cakare-hover-text-purple:hover {
	color: #9c27b0 !important
}

.Cakare-text-deep-purple,
.Cakare-hover-text-deep-purple:hover {
	color: #673ab7 !important
}

.Cakare-text-red,
.Cakare-hover-text-red:hover {
	color: #f44336 !important
}

.Cakare-text-sand,
.Cakare-hover-text-sand:hover {
	color: #fdf5e6 !important
}

.Cakare-text-teal,
.Cakare-hover-text-teal:hover {
	color: #009688 !important
}

.Cakare-text-yellow,
.Cakare-hover-text-yellow:hover {
	color: #d2be0e !important
}

.Cakare-text-white,
.Cakare-hover-text-white:hover {
	color: #fff !important
}

.Cakare-text-black,
.Cakare-hover-text-black:hover {
	color: #000 !important
}

.Cakare-text-grey,
.Cakare-hover-text-grey:hover,
.Cakare-text-gray,
.Cakare-hover-text-gray:hover {
	color: #757575 !important
}

.Cakare-text-light-grey,
.Cakare-hover-text-light-grey:hover,
.Cakare-text-light-gray,
.Cakare-hover-text-light-gray:hover {
	color: #f1f1f1 !important
}

.Cakare-text-dark-grey,
.Cakare-hover-text-dark-grey:hover,
.Cakare-text-dark-gray,
.Cakare-hover-text-dark-gray:hover {
	color: #3a3a3a !important
}

.Cakare-border-amber,
.Cakare-hover-border-amber:hover {
	border-color: #ffc107 !important
}

.Cakare-border-aqua,
.Cakare-hover-border-aqua:hover {
	border-color: #00ffff !important
}

.Cakare-border-blue,
.Cakare-hover-border-blue:hover {
	border-color: #2196F3 !important
}

.Cakare-border-light-blue,
.Cakare-hover-border-light-blue:hover {
	border-color: #87CEEB !important
}

.Cakare-border-brown,
.Cakare-hover-border-brown:hover {
	border-color: #795548 !important
}

.Cakare-border-cyan,
.Cakare-hover-border-cyan:hover {
	border-color: #00bcd4 !important
}

.Cakare-border-blue-grey,
.Cakare-hover-border-blue-grey:hover,
.Cakare-border-blue-gray,
.Cakare-hover-border-blue-gray:hover {
	border-color: #607d8b !important
}

.Cakare-border-green,
.Cakare-hover-border-green:hover {
	border-color: #4CAF50 !important
}

.Cakare-border-light-green,
.Cakare-hover-border-light-green:hover {
	border-color: #8bc34a !important
}

.Cakare-border-indigo,
.Cakare-hover-border-indigo:hover {
	border-color: #3f51b5 !important
}

.Cakare-border-khaki,
.Cakare-hover-border-khaki:hover {
	border-color: #f0e68c !important
}

.Cakare-border-lime,
.Cakare-hover-border-lime:hover {
	border-color: #cddc39 !important
}

.Cakare-border-orange,
.Cakare-hover-border-orange:hover {
	border-color: #ff9800 !important
}

.Cakare-border-deep-orange,
.Cakare-hover-border-deep-orange:hover {
	border-color: #ff5722 !important
}

.Cakare-border-pink,
.Cakare-hover-border-pink:hover {
	border-color: #e91e63 !important
}

.Cakare-border-purple,
.Cakare-hover-border-purple:hover {
	border-color: #9c27b0 !important
}

.Cakare-border-deep-purple,
.Cakare-hover-border-deep-purple:hover {
	border-color: #673ab7 !important
}

.Cakare-border-red,
.Cakare-hover-border-red:hover {
	border-color: #f44336 !important
}

.Cakare-border-sand,
.Cakare-hover-border-sand:hover {
	border-color: #fdf5e6 !important
}

.Cakare-border-teal,
.Cakare-hover-border-teal:hover {
	border-color: #009688 !important
}

.Cakare-border-yellow,
.Cakare-hover-border-yellow:hover {
	border-color: #ffeb3b !important
}

.Cakare-border-white,
.Cakare-hover-border-white:hover {
	border-color: #fff !important
}

.Cakare-border-black,
.Cakare-hover-border-black:hover {
	border-color: #000 !important
}

.Cakare-border-grey,
.Cakare-hover-border-grey:hover,
.Cakare-border-gray,
.Cakare-hover-border-gray:hover {
	border-color: #9e9e9e !important
}

.Cakare-border-light-grey,
.Cakare-hover-border-light-grey:hover,
.Cakare-border-light-gray,
.Cakare-hover-border-light-gray:hover {
	border-color: #f1f1f1 !important
}

.Cakare-border-dark-grey,
.Cakare-hover-border-dark-grey:hover,
.Cakare-border-dark-gray,
.Cakare-hover-border-dark-gray:hover {
	border-color: #616161 !important
}

.Cakare-border-pale-red,
.Cakare-hover-border-pale-red:hover {
	border-color: #ffe7e7 !important
}

.Cakare-border-pale-green,
.Cakare-hover-border-pale-green:hover {
	border-color: #e7ffe7 !important
}

.Cakare-border-pale-yellow,
.Cakare-hover-border-pale-yellow:hover {
	border-color: #ffffcc !important
}

.Cakare-border-pale-blue,
.Cakare-hover-border-pale-blue:hover {
	border-color: #e7ffff !important
}